<nav>
  <ul class="nav nav-pills float-right">
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/home">Página inicial <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/blog">Blog</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/apresentacao">Apresentação</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/sobre">Quem somos</a>
    </li>    
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/contato">Fale conosco</a>
    </li>
  </ul>
</nav>