<app-search (searchValue)="searchEvent($event)"></app-search>
<div class="container">
  <div class="panel panel-default">
    <h2 class="text-center">A sua marca esta disponível nas seguintes redes</h2>
  </div>
</div>
<br />
<div class="row">
  <div class="col-sm-3">
    <app-domain #domain></app-domain>
  </div>
  <div class="col-sm-3">
    <app-youtube #youtube></app-youtube>
  </div>
  <div class="col-sm-3">
    <app-facebook #facebook></app-facebook>
  </div>
  <div class="col-sm-3">
    <app-twitter #twitter></app-twitter>
  </div>
</div>
<br />
<div class="row">
  <div class="col-sm-3">
    <app-instagram #instagram></app-instagram>
  </div>
</div>